*.user
*.suo

PlantControllerWebSite/App_Data/
PlantControllerWebSite/Deploy/
PlantControllerWebSite/UnitTest/bin/
PlantControllerWebSite/UnitTest/obj/
PlantControllerWebSite/WebClient/bin/
PlantControllerWebSite/WebClient/obj/
PlantOperatorClient/TimberPlantController/Archiver/bin/
PlantOperatorClient/TimberPlantController/Archiver/obj/
PlantOperatorClient/TimberPlantController/BarCodeGenerator/bin/
PlantOperatorClient/TimberPlantController/BarCodeGenerator/obj/
PlantOperatorClient/TimberPlantController/DataModel/bin/
PlantOperatorClient/TimberPlantController/DataModel/obj/
PlantOperatorClient/TimberPlantController/TimberPlantController/bin/
PlantOperatorClient/TimberPlantController/TimberPlantController/obj/
PlantOperatorClient/TimberPlantController/_ReSharper.TimberPlantController/
PlantControllerWebSite/WebClient/Data/
PlantControllerWebSite/WebClient/_ReSharper.WebClient/

